

.video_player {
  background-color: #000;
  width: 640px;
  height: 400px;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .video_player video {
    max-width: 100%;
    height: 360px; }
  .video_player .video_controls {
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    color: #ffffff; }
    .video_player .video_controls .rhs {
      float: right;
      display: inline;
      height: 30px; }
    .video_player .video_controls .toggle_fullscreen_button {
      color: #ffffff;
      font-size: 0.9em;
      height: 30px;
      border: none;
      background: transparent;
      padding: 0 10px;
      cursor: pointer;
      outline: none; }
    .video_player .video_controls .volume {
      height: 30px;
      line-height: 34px;
      float: left;
      padding: 0 10px; }
      .video_player .video_controls .volume button {
        font-size: 1em;
        background: transparent;
        color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer; }
      .video_player .video_controls .volume .volume_slider {
        cursor: ew-resize;
        max-width: 50px;
        display: none; }
      .video_player .video_controls .volume:hover .volume_slider {
        display: inline-block; }
      .video_player .video_controls .volume input[type=range].volume_slider {
        -webkit-appearance: none; }
      .video_player .video_controls .volume input[type=range].volume_slider:focus {
        outline: none; }
      .video_player .video_controls .volume input[type=range].volume_slider::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
        background: #cc00ff;
        border-radius: 0px;
        border: 0px solid rgba(0, 0, 0, 0); }
      .video_player .video_controls .volume input[type=range].volume_slider::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 1px solid rgba(0, 0, 0, 0);
        height: 8px;
        width: 5px;
        border-radius: 0px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: 1px; }
      .video_player .video_controls .volume input[type=range].volume_slider:focus::-webkit-slider-runnable-track {
        background: #0000ff; }
      .video_player .video_controls .volume input[type=range].volume_slider::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
        background: #0000ff;
        border-radius: 0px;
        border: 0px solid rgba(0, 0, 0, 0); }
      .video_player .video_controls .volume input[type=range].volume_slider::-moz-range-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 1px solid rgba(0, 0, 0, 0);
        height: 8px;
        width: 5px;
        border-radius: 0px;
        background: #ffffff;
        cursor: pointer; }
      .video_player .video_controls .volume input[type=range].volume_slider::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent; }
      .video_player .video_controls .volume input[type=range].volume_slider::-ms-fill-lower {
        background: #0000ff;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
      .video_player .video_controls .volume input[type=range].volume_slider::-ms-fill-upper {
        background: #0000ff;
        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0); }
      .video_player .video_controls .volume input[type=range].volume_slider::-ms-thumb {
        box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        border: 1px solid rgba(0, 0, 0, 0);
        width: 5px;
        border-radius: 0px;
        background: #ffffff;
        cursor: pointer;
        height: 8px; }
      .video_player .video_controls .volume input[type=range].volume_slider:focus::-ms-fill-lower {
        background: #0000ff; }
      .video_player .video_controls .volume input[type=range].volume_slider:focus::-ms-fill-upper {
        background: #0000ff; }
    .video_player .video_controls .time {
      height: 30px;
      float: left;
      font-size: .7em;
      font-family: 'Cabin', sans-serif;
      padding: 0 10px;
      line-height: 30px; }
      .video_player .video_controls .time .total {
        color: #999; }
    .video_player .video_controls .progress_bar {
      height: 10px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      background-color: #333; }
      .video_player .video_controls .progress_bar .playback_percent {
        top: 0;
        bottom: 0;
        position: absolute;
        width: 0%;
        background-color: #ff0000;
        z-index: 50; }
      .video_player .video_controls .progress_bar .buffer_percent {
        top: 0;
        bottom: 0;
        position: absolute;
        width: 50%;
        background-color: #666;
        z-index: 40; }
    .video_player .video_controls .toggle_playback {
      float: left;
      color: #ffffff;
      font-size: 1.3em;
      height: 30px;
      border: none;
      background: transparent;
      padding: 0 10px;
      cursor: pointer;
      outline: none; }